body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.testAttr {
	border: 2px solid #A40808;
	background-color: #EEE7DB;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

	.testAttr td, .testAttr th {
		border: 1px solid #AAAAAA;
		padding: 3px 2px;
	}

	.testAttr tbody td {
		font-size: 13px;
	}

	.testAttr tr:nth-child(even) {
		background: #F5C8BF;
	}

	.testAttr thead {
		background: #A40808;
	}

		.testAttr thead th {
			font-size: 19px;
			font-weight: bold;
			color: #FFFFFF;
			text-align: center;
			border-left: 2px solid #A40808;
		}

			.testAttr thead th:first-child {
				border-left: none;
			}

	.testAttr tfoot {
		font-size: 13px;
		font-weight: bold;
		color: #FFFFFF;
		background: #A40808;
	}

		.testAttr tfoot td {
			font-size: 13px;
		}

		.testAttr tfoot .links {
			text-align: right;
		}

			.testAttr tfoot .links a {
				display: inline-block;
				background: #FFFFFF;
				color: #A40808;
				padding: 2px 8px;
				border-radius: 5px;
			}

